@import "tailwindcss";
@import "./assets/fonts/poppins.css";

body {
  background-color: var(--color-light);
  font-family: var(--font-poppins-regular);
}

@theme {
  --color-*: initial;
  --color-dark: #343a40;
  --color-light: #e9ecef;
  --color-extended: #adb5bd;
  --color-seventh: #6c757d;
  --color-primary: #212529;
  --color-secondary: #f8f9fa;

  --font-*: initial;
  --font-poppins-regular: "Poppins-Regular", sans-serif;
  --font-poppins-medium: "Poppins-Medium", sans-serif;
  --font-poppins-semibold: "Poppins-SemiBold", sans-serif;
}

@layer base {
  h1 {
    @apply font-poppins-semibold text-5xl;
  }

  h2 {
    @apply font-poppins-semibold text-4xl;
  }

  h3 {
    @apply font-poppins-semibold text-3xl;
  }

  h4 {
    @apply font-poppins-semibold text-2xl;
  }

  h5 {
    @apply font-poppins-semibold text-xl;
  }
}
